## DATA422 - 21S2 - Data Wrangling (Group Project Julia Part) 
### Group Name: ACG 
### Content: Join Dataset and Visulise

Firstly Import in the Dataset:
Import some libraries first

In [1]:
using Pkg
using Queryverse
using DataFrames
using CSV

Next, Load csvs:

In [2]:
food_business_data = CSV.read("suburb_level_food_business_summary.csv", DataFrame)

91×16 DataFrame
 Row │ suburb           cnt_total_business  cnt_takeaway  cnt_eat_in_premises  ⋯
     │ String           Int64               Int64         Int64                ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Central City                    388           212                  275  ⋯
   2 │ Hornby                          123            57                   48
   3 │ Riccarton                       117            68                   79
   4 │ Sydenham                         96            52                   49
   5 │ Papanui                          88            49                   48  ⋯
   6 │ Upper Riccarton                  87            50                   45
   7 │ St Albans                        84            34                   32
   8 │ Addington                        76            27                   42
   9 │ Harewood                         66            25                   42  ⋯
  10 │ Linwood                          64            25                   16
  11 │ Sockburn                         64            19                   10
  ⋮  │        ⋮                 ⋮                ⋮                 ⋮           ⋱
  82 │ Mt Pleasant                       1             0                    0
  83 │ North Beach                       1             0                    1  ⋯
  84 │ Northcote                         1             0                    0
  85 │ Okains Bay                        1             0                    0
  86 │ Ouruhia                           1             0                    0
  87 │ Southshore                        1             0                    0  ⋯
  88 │ Travis                            1             1                    1
  89 │ Waimairi Beach                    1             1                    1
  90 │ Westlake                          1             0                    0
  91 │ Westmorland                       1             0                    0  ⋯
                                                  12 columns and 70 rows omitted

In [3]:
alcohol_license_data = CSV.read("suburb_level_alcohol_license_summary.csv", DataFrame)

58×17 DataFrame
 Row │ suburb              total_licences  on_licence  off_licence  club_licen ⋯
     │ String              Int64           Int64       Int64        Int64      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Addington                       13          10            2             ⋯
   2 │ Avondale                         1           0            0
   3 │ Avonhead                         5           1            1
   4 │ Avonside                         2           0            1
   5 │ Beckenham                        2           0            0             ⋯
   6 │ Belfast                          8           2            5
   7 │ Bishopdale                       5           2            2
   8 │ Bromley                          3           0            0
   9 │ Bryndwr                          7           3            4             ⋯
  10 │ Burnside                         4           2            2
  11 │ Burwood                          5           1            2
  ⋮  │         ⋮                 ⋮             ⋮            ⋮            ⋮     ⋱
  49 │ Sumner                           9           7            1
  50 │ Sydenham                        12           8            3             ⋯
  51 │ Templeton                        5           1            1
  52 │ Upper Riccarton                 19          15            3
  53 │ Waimair Beach                    1           0            0
  54 │ Wainoni                          2           0            2             ⋯
  55 │ Wainui                           1           1            0
  56 │ Waltham                          4           3            1
  57 │ Woolston                        11           6            4
  58 │ Yaldhurst                        2           2            0             ⋯
                                                  13 columns and 37 rows omitted

In [4]:
housing_data = CSV.read("suburb_level_house_price_summary.csv", DataFrame)

80×6 DataFrame
 Row │ suburb                        average_house_price  lowest_house_price   ⋯
     │ String                        Int64                Int64                ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Clifton                                   1800000             1800000   ⋯
   2 │ Kennedys Bush                             1331667             1100000
   3 │ Harewood                                  1186633              451000
   4 │ Merivale - Christchurch City              1145417              365000
   5 │ Murray Aynsley                            1080000             1080000   ⋯
   6 │ Fendalton                                 1073222              475000
   7 │ Scarborough                               1000000             1000000
   8 │ Templeton                                  967500              685000
   9 │ Redcliffs                                  901714              305000   ⋯
  10 │ Strowan                                    891268              402000
  11 │ Huntsbury                                  842833              411000
  ⋮  │              ⋮                         ⋮                   ⋮            ⋱
  71 │ Bromley                                    315000              292000
  72 │ Avonside                                   314167              185000   ⋯
  73 │ Moncks Spur                                310000              310000
  74 │ Avondale                                   298375              175000
  75 │ New Brighton                               297038              146000
  76 │ Aranui                                     295871              171000   ⋯
  77 │ Wainoni                                    254625              195000
  78 │ North Beach                                200000              200000
  79 │ Bexley                                     172000              172000
  80 │ Kainga                                     147500              147500   ⋯
                                                   3 columns and 59 rows omitted

In [5]:
population_data = CSV.read("suburb_level_population_summary.csv", DataFrame)

73×9 DataFrame
 Row │ suburb              population_households_2006  population_households_2 ⋯
     │ String              Int64                       Int64                   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Mairehau                                  2199                        2 ⋯
   2 │ Linwood                                   3060                        2
   3 │ St Martins                                1134                        1
   4 │ Addington                                 1758                        1
   5 │ Fendalton                                 1653                        1 ⋯
   6 │ St Albans                                 5379                        5
   7 │ Shirley                                   2352                        2
   8 │ Phillipstown                              1419                        1
   9 │ Beckenham                                  897                          ⋯
  10 │ Riccarton                                 2871                        2
  11 │ Bryndwr                                   3204                        3
  ⋮  │         ⋮                       ⋮                           ⋮           ⋱
  64 │ Northcote                                  975                        1
  65 │ Casebrook                                 1542                        1 ⋯
  66 │ Hoon Hay                                  2994                        3
  67 │ Clifton                                    720
  68 │ North New Brighton                        1656                        1
  69 │ Hillmorton                                 852                        1 ⋯
  70 │ Redwood                                   3057                        3
  71 │ Hei Hei                                   1146                        1
  72 │ Aidanfield                                 396
  73 │ Sumner                                    1482                        1 ⋯
                                                   7 columns and 52 rows omitted

In [6]:
school_data = CSV.read("suburb_level_schools_summary.csv", DataFrame)

56×12 DataFrame
 Row │ suburb              number_of_schools  total_school_roll  primary_schoo ⋯
     │ String              Int64              Int64              Int64         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Addington                           2                465                ⋯
   2 │ Aidanfield                          1                386
   3 │ Aranui                              1                115
   4 │ Avondale                            1                693
   5 │ Avonhead                            3               1596                ⋯
   6 │ Barrington                          1                991
   7 │ Beckenham                           2                665
   8 │ Belfast                             1                452
   9 │ Bishopdale                          5               1508                ⋯
  10 │ Bromley                             1                368
  11 │ Bryndwr                             4               2121
  ⋮  │         ⋮                   ⋮                  ⋮                 ⋮      ⋱
  47 │ St Martins                          2               1051
  48 │ Strowan                             1                388                ⋯
  49 │ Sumner                              3                567
  50 │ Templeton                           1                345
  51 │ Upper Riccarton                     1                823
  52 │ Wainoni                             1                608                ⋯
  53 │ Waltham                             2                432
  54 │ Weedons                             1                151
  55 │ Wigram                              1                342
  56 │ Woolston                            5                856                ⋯
                                                   9 columns and 35 rows omitted

In [7]:
suburb1 = DataFrame(suburb = food_business_data[:, :suburb])

91×1 DataFrame
 Row │ suburb
     │ String
─────┼─────────────────
   1 │ Central City
   2 │ Hornby
   3 │ Riccarton
   4 │ Sydenham
   5 │ Papanui
   6 │ Upper Riccarton
   7 │ St Albans
   8 │ Addington
   9 │ Harewood
  10 │ Linwood
  11 │ Sockburn
  ⋮  │        ⋮
  82 │ Mt Pleasant
  83 │ North Beach
  84 │ Northcote
  85 │ Okains Bay
  86 │ Ouruhia
  87 │ Southshore
  88 │ Travis
  89 │ Waimairi Beach
  90 │ Westlake
  91 │ Westmorland
        70 rows omitted

In [8]:
suburb2 = DataFrame(suburb = alcohol_license_data[:, :suburb])

58×1 DataFrame
 Row │ suburb
     │ String
─────┼────────────────────
   1 │ Addington
   2 │ Avondale
   3 │ Avonhead
   4 │ Avonside
   5 │ Beckenham
   6 │ Belfast
   7 │ Bishopdale
   8 │ Bromley
   9 │ Bryndwr
  10 │ Burnside
  11 │ Burwood
  ⋮  │         ⋮
  49 │ Sumner
  50 │ Sydenham
  51 │ Templeton
  52 │ Upper Riccarton
  53 │ Waimair Beach
  54 │ Wainoni
  55 │ Wainui
  56 │ Waltham
  57 │ Woolston
  58 │ Yaldhurst
           37 rows omitted

In [9]:
suburb3 = DataFrame(suburb = housing_data[:, :suburb])

80×1 DataFrame
 Row │ suburb
     │ String
─────┼──────────────────────────────
   1 │ Clifton
   2 │ Kennedys Bush
   3 │ Harewood
   4 │ Merivale - Christchurch City
   5 │ Murray Aynsley
   6 │ Fendalton
   7 │ Scarborough
   8 │ Templeton
   9 │ Redcliffs
  10 │ Strowan
  11 │ Huntsbury
  ⋮  │              ⋮
  71 │ Bromley
  72 │ Avonside
  73 │ Moncks Spur
  74 │ Avondale
  75 │ New Brighton
  76 │ Aranui
  77 │ Wainoni
  78 │ North Beach
  79 │ Bexley
  80 │ Kainga
                     59 rows omitted

In [10]:
suburb4 = DataFrame(suburb = population_data[:,:suburb])

73×1 DataFrame
 Row │ suburb
     │ String
─────┼────────────────────
   1 │ Mairehau
   2 │ Linwood
   3 │ St Martins
   4 │ Addington
   5 │ Fendalton
   6 │ St Albans
   7 │ Shirley
   8 │ Phillipstown
   9 │ Beckenham
  10 │ Riccarton
  11 │ Bryndwr
  ⋮  │         ⋮
  64 │ Northcote
  65 │ Casebrook
  66 │ Hoon Hay
  67 │ Clifton
  68 │ North New Brighton
  69 │ Hillmorton
  70 │ Redwood
  71 │ Hei Hei
  72 │ Aidanfield
  73 │ Sumner
           52 rows omitted

In [11]:
suburb5 = DataFrame(suburb = school_data[:, :suburb])

56×1 DataFrame
 Row │ suburb
     │ String
─────┼────────────────────
   1 │ Addington
   2 │ Aidanfield
   3 │ Aranui
   4 │ Avondale
   5 │ Avonhead
   6 │ Barrington
   7 │ Beckenham
   8 │ Belfast
   9 │ Bishopdale
  10 │ Bromley
  11 │ Bryndwr
  ⋮  │         ⋮
  47 │ St Martins
  48 │ Strowan
  49 │ Sumner
  50 │ Templeton
  51 │ Upper Riccarton
  52 │ Wainoni
  53 │ Waltham
  54 │ Weedons
  55 │ Wigram
  56 │ Woolston
           35 rows omitted

In [12]:
combined_suburb = outerjoin(suburb1, suburb2, suburb3, suburb4, suburb5, on =:suburb => :suburb, makeunique=true)

112×1 DataFrame
 Row │ suburb
     │ String
─────┼──────────────────────────────
   1 │ Hornby
   2 │ Riccarton
   3 │ Papanui
   4 │ Upper Riccarton
   5 │ St Albans
   6 │ Addington
   7 │ Harewood
   8 │ Linwood
   9 │ Sockburn
  10 │ Woolston
  11 │ New Brighton
  ⋮  │              ⋮
 103 │ Merivale - Christchurch City
 104 │ Murray Aynsley
 105 │ Scarborough
 106 │ Richmond Hill
 107 │ Moncks Spur
 108 │ Bexley
 109 │ Kainga
 110 │ Broomfield
 111 │ Barrington
 112 │ Weedons
                     91 rows omitted

Next, left outer join from the combined suburb unique list to the 5 datasets.

Next, join the 5 dataset together with the combined distinct suburbs:

In [13]:
final_combined1 = leftjoin(combined_suburb, food_business_data, on =:suburb => :suburb, makeunique=true)

112×16 DataFrame
 Row │ suburb                        cnt_total_business  cnt_takeaway  cnt_eat ⋯
     │ String                        Int64?              Int64?        Int64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                                       123            57          ⋯
   2 │ Riccarton                                    117            68
   3 │ Papanui                                       88            49
   4 │ Upper Riccarton                               87            50
   5 │ St Albans                                     84            34          ⋯
   6 │ Addington                                     76            27
   7 │ Harewood                                      66            25
   8 │ Linwood                                       64            25
   9 │ Sockburn                                      64            19          ⋯
  10 │ Woolston                                      52            27
  11 │ New Brighton                                  44            22
  ⋮  │              ⋮                        ⋮                ⋮                ⋱
 103 │ Merivale - Christchurch City             missing       missing
 104 │ Murray Aynsley                           missing       missing          ⋯
 105 │ Scarborough                              missing       missing
 106 │ Richmond Hill                            missing       missing
 107 │ Moncks Spur                              missing       missing
 108 │ Bexley                                   missing       missing          ⋯
 109 │ Kainga                                   missing       missing
 110 │ Broomfield                               missing       missing
 111 │ Barrington                               missing       missing
 112 │ Weedons                                  missing       missing          ⋯
                                                  13 columns and 91 rows omitted

In [14]:
final_combined2 = leftjoin(final_combined1, alcohol_license_data, on =:suburb => :suburb, makeunique=true)

112×32 DataFrame
 Row │ suburb                        cnt_total_business  cnt_takeaway  cnt_eat ⋯
     │ String                        Int64?              Int64?        Int64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                                       123            57          ⋯
   2 │ Riccarton                                    117            68
   3 │ Papanui                                       88            49
   4 │ Upper Riccarton                               87            50
   5 │ St Albans                                     84            34          ⋯
   6 │ Addington                                     76            27
   7 │ Harewood                                      66            25
   8 │ Linwood                                       64            25
   9 │ Sockburn                                      64            19          ⋯
  10 │ Woolston                                      52            27
  11 │ New Brighton                                  44            22
  ⋮  │              ⋮                        ⋮                ⋮                ⋱
 103 │ Merivale - Christchurch City             missing       missing
 104 │ Murray Aynsley                           missing       missing          ⋯
 105 │ Scarborough                              missing       missing
 106 │ Richmond Hill                            missing       missing
 107 │ Moncks Spur                              missing       missing
 108 │ Bexley                                   missing       missing          ⋯
 109 │ Kainga                                   missing       missing
 110 │ Broomfield                               missing       missing
 111 │ Barrington                               missing       missing
 112 │ Weedons                                  missing       missing          ⋯
                                                  29 columns and 91 rows omitted

In [15]:
final_combined3 = leftjoin(final_combined2, housing_data, on =:suburb => :suburb, makeunique=true)

112×37 DataFrame
 Row │ suburb                     cnt_total_business  cnt_takeaway  cnt_eat_in ⋯
     │ String                     Int64?              Int64?        Int64?     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                                    123            57             ⋯
   2 │ Riccarton                                 117            68
   3 │ Papanui                                    88            49
   4 │ Upper Riccarton                            87            50
   5 │ St Albans                                  84            34             ⋯
   6 │ Addington                                  76            27
   7 │ Harewood                                   66            25
   8 │ Linwood                                    64            25
   9 │ Sockburn                                   64            19             ⋯
  10 │ Woolston                                   52            27
  11 │ New Brighton                               44            22
  ⋮  │             ⋮                      ⋮                ⋮                 ⋮ ⋱
 103 │ Hyde Park                                   1             0
 104 │ Masham                                      1             0             ⋯
 105 │ Motukarara                                  1             0
 106 │ Okains Bay                                  1             0
 107 │ Travis                                      1             1
 108 │ Westlake                                    1             0             ⋯
 109 │ Heathcote Valley                      missing       missing
 110 │ Broomfield                            missing       missing
 111 │ Barrington                            missing       missing
 112 │ Weedons                               missing       missing             ⋯
                                                  34 columns and 91 rows omitted

In [16]:
final_combined4 = leftjoin(final_combined3, population_data, on =:suburb => :suburb, makeunique=true)

112×45 DataFrame
 Row │ suburb                     cnt_total_business  cnt_takeaway  cnt_eat_in ⋯
     │ String                     Int64?              Int64?        Int64?     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                                    123            57             ⋯
   2 │ Riccarton                                 117            68
   3 │ Papanui                                    88            49
   4 │ Upper Riccarton                            87            50
   5 │ St Albans                                  84            34             ⋯
   6 │ Addington                                  76            27
   7 │ Harewood                                   66            25
   8 │ Linwood                                    64            25
   9 │ Sockburn                                   64            19             ⋯
  10 │ Woolston                                   52            27
  11 │ New Brighton                               44            22
  ⋮  │             ⋮                      ⋮                ⋮                 ⋮ ⋱
 103 │ Christchurch City Council                   1             0
 104 │ Cracroft                                    1             1             ⋯
 105 │ Hyde Park                                   1             0
 106 │ Masham                                      1             0
 107 │ Motukarara                                  1             0
 108 │ Okains Bay                                  1             0             ⋯
 109 │ Travis                                      1             1
 110 │ Westlake                                    1             0
 111 │ Barrington                            missing       missing
 112 │ Weedons                               missing       missing             ⋯
                                                  42 columns and 91 rows omitted

In [17]:
final_combined5 = leftjoin(final_combined4, school_data, on =:suburb => :suburb, makeunique=true)

112×56 DataFrame
 Row │ suburb                     cnt_total_business  cnt_takeaway  cnt_eat_in ⋯
     │ String                     Int64?              Int64?        Int64?     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                                    123            57             ⋯
   2 │ Riccarton                                 117            68
   3 │ Papanui                                    88            49
   4 │ Upper Riccarton                            87            50
   5 │ St Albans                                  84            34             ⋯
   6 │ Addington                                  76            27
   7 │ Harewood                                   66            25
   8 │ Linwood                                    64            25
   9 │ Sockburn                                   64            19             ⋯
  10 │ Woolston                                   52            27
  11 │ New Brighton                               44            22
  ⋮  │             ⋮                      ⋮                ⋮                 ⋮ ⋱
 103 │ Pigeon Bay                                  2             0
 104 │ Birdlings Flat                              1             0             ⋯
 105 │ Christchurch City Council                   1             0
 106 │ Cracroft                                    1             1
 107 │ Hyde Park                                   1             0
 108 │ Masham                                      1             0             ⋯
 109 │ Motukarara                                  1             0
 110 │ Okains Bay                                  1             0
 111 │ Travis                                      1             1
 112 │ Westlake                                    1             0             ⋯
                                                  53 columns and 91 rows omitted

Next, I am using the function describe to look at a summary view of this dataset.

In [18]:
final_combined5 |>
    describe

56×7 DataFrame
 Row │ variable                           mean      min        median   max    ⋯
     │ Symbol                             Union…    Any        Union…   Any    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ suburb                                       Addington           Yaldhu ⋯
   2 │ cnt_total_business                 25.2637   1          8.0      388
   3 │ cnt_takeaway                       11.8571   0          4.0      212
   4 │ cnt_eat_in_premises                12.0879   0          4.0      275
   5 │ cnt_retail                         6.21978   0          3.0      62     ⋯
   6 │ cnt_caterer                        3.13187   0          1.0      66
   7 │ cnt_home_delivery                  1.7033    0          0.0      27
   8 │ cnt_wholesale                      2.07692   0          1.0      18
   9 │ cnt_ready_to_eat_meals_snacks      21.3077   0          8.0      366    ⋯
  10 │ cnt_shelf_stable_food              4.35165   0          2.0      35
  11 │ cnt_baked_food                     3.25275   0          2.0      35
  ⋮  │                 ⋮                     ⋮          ⋮         ⋮         ⋮  ⋱
  47 │ total_school_roll                  1097.23   13         688.5    4753
  48 │ primary_schools                    1.78571   0          1.5      5      ⋯
  49 │ intermediate_schools               1.42857   0          1.0      5
  50 │ secondary_schools                  0.589286  0          0.0      4
  51 │ average_decile                     6.37292   1.0        7.16667  10.0
  52 │ co_educational                     2.17857   0          2.0      6      ⋯
  53 │ single_sex_girls                   0.125     0          0.0      3
  54 │ single_sex_boys                    0.107143  0          0.0      1
  55 │ private_schools                    0.160714  0          0.0      3
  56 │ state_schools                      2.25      1          2.0      6      ⋯
                                                   3 columns and 35 rows omitted

Export the data into CSV:

In [19]:
# final_combined5 |>
#   save("final_combined5.csv")

Next, we have went through the combined the file and identified a few further tidy up needs to be carried out.

1: some suburbs are to be excluded with reasons in the brackets below:
   <br>"Akaroa","Birdlings Flat","Christchurch","Christchurch City Council","Little River","Lyttelton","Moncks Spur","Murray Aynsley","Travis","Diamond Harbour","Duvauchelle","Governors Bay","Motukarara","Okains Bay","Pigeon Bay","Wainui" (some subset collections are excluded these areas as they are outside the christchurch city region, most of them are Banks Peninsular)
   <br>Christchurch, Christchurch City Council (Not christchurch suburbs and hard to tell if this is city center or not)
   <br>Moncks Spur, Murray Aynsley, Travis (not a suburb, maybe a lane or a specific place)
   
2: Some suburb names were actually same area, need to be merged. (Central City & Christchurch Central; Healthcote & Healthcote Valley; Merivale & Merivale-Christchurch City; Waimair Beach & Waimairi Beach;)

Next block of codes deletes the suburbs we want to exclude:

In [20]:
combined_dataset = final_combined5 |> 
    @filter(_.suburb ∉ ["Akaroa","Birdlings Flat","Christchurch","Christchurch City Council","Little River","Lyttelton","Moncks Spur","Murray Aynsley","Travis","Diamond Harbour","Duvauchelle","Governors Bay","Motukarara","Okains Bay","Pigeon Bay","Wainui"]) |> 
    DataFrame

96×56 DataFrame
 Row │ suburb                        cnt_total_business  cnt_takeaway  cnt_eat ⋯
     │ String                        Int64?              Int64?        Int64?  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                                       123            57          ⋯
   2 │ Riccarton                                    117            68
   3 │ Papanui                                       88            49
   4 │ Upper Riccarton                               87            50
   5 │ St Albans                                     84            34          ⋯
   6 │ Addington                                     76            27
   7 │ Harewood                                      66            25
   8 │ Linwood                                       64            25
   9 │ Sockburn                                      64            19          ⋯
  10 │ Woolston                                      52            27
  11 │ New Brighton                                  44            22
  ⋮  │              ⋮                        ⋮                ⋮                ⋱
  87 │ Bexley                                   missing       missing
  88 │ Kainga                                   missing       missing          ⋯
  89 │ Central City                                 388           212
  90 │ Waimair Beach                            missing       missing
  91 │ McCormacks Bay                                 3             1
  92 │ Bridgend                                       2             1          ⋯
  93 │ Cracroft                                       1             1
  94 │ Hyde Park                                      1             0
  95 │ Masham                                         1             0
  96 │ Westlake                                       1             0          ⋯
                                                  53 columns and 75 rows omitted

Next codes to prepare for merging lines of 4 sets of same suburbs

In [21]:
replace!.(eachcol(combined_dataset[!, :suburb]), "Central City" => "Christchurch Central")
replace!.(eachcol(combined_dataset[!, :suburb]), "Heathcote Valley" => "Heathcote")
replace!.(eachcol(combined_dataset[!, :suburb]), "Merivale - Christchurch City" => "Merivale")
replace!.(eachcol(combined_dataset[!, :suburb]), "Waimair Beach" => "Waimairi Beach")

1-element Vector{SubArray{String, 1, Matrix{String}, Tuple{Base.Slice{Base.OneTo{Int64}}, Int64}, true}}:
 ["Hornby", "Riccarton", "Papanui", "Upper Riccarton", "St Albans", "Addington", "Harewood", "Linwood", "Sockburn", "Woolston"  …  "Bexley", "Kainga", "Christchurch Central", "Waimairi Beach", "McCormacks Bay", "Bridgend", "Cracroft", "Hyde Park", "Masham", "Westlake"]

Checking they actually have been renamed:

The next part of the code takes the interested subsets of the dataset out to do the merging.

In [22]:
extra_merge = combined_dataset |> 
    @filter(_.suburb in ["Christchurch Central","Heathcote","Merivale","Waimairi Beach"]) |> 
    DataFrame

8×56 DataFrame
 Row │ suburb                cnt_total_business  cnt_takeaway  cnt_eat_in_prem ⋯
     │ String                Int64?              Int64?        Int64?          ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Merivale                              31             7                  ⋯
   2 │ Heathcote                        missing       missing              mis
   3 │ Christchurch Central             missing       missing              mis
   4 │ Waimairi Beach                         1             1
   5 │ Heathcote                              8             2                  ⋯
   6 │ Merivale                         missing       missing              mis
   7 │ Christchurch Central                 388           212
   8 │ Waimairi Beach                   missing       missing              mis
                                                              53 columns omitted

Next, will need to using group by and sum to combine the same suburbs where there are duplicates. It has been checked that these datasets values across mutlple rows dont have same entries from any one dataset, as if they do you may not be able to simply add, for example housing data has means, min and max values, which needs to treat differently when aggregating two rows.
<br>Firstly, the missing value needs to be turned into 0s so it can be summed.

In [23]:
extra_merge = extra_merge |> 
                @replacena(0) |> 
                DataFrame

8×56 DataFrame
 Row │ suburb                cnt_total_business  cnt_takeaway  cnt_eat_in_prem ⋯
     │ Any                   Any                 Any           Any             ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Merivale              31                  7             17              ⋯
   2 │ Heathcote             0                   0             0
   3 │ Christchurch Central  0                   0             0
   4 │ Waimairi Beach        1                   1             1
   5 │ Heathcote             8                   2             4               ⋯
   6 │ Merivale              0                   0             0
   7 │ Christchurch Central  388                 212           275
   8 │ Waimairi Beach        0                   0             0
                                                              53 columns omitted

Then we grouby the dataset by suburb and then sum all the columns which doesnt including the suburb

In [24]:
merged_suburbs = combine(groupby(extra_merge, :suburb),  names(select(extra_merge, Not([:suburb]))) .=> sum, renamecols=false)

4×56 DataFrame
 Row │ suburb                cnt_total_business  cnt_takeaway  cnt_eat_in_prem ⋯
     │ Any                   Int64               Int64         Int64           ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Merivale                              31             7                  ⋯
   2 │ Heathcote                              8             2
   3 │ Christchurch Central                 388           212
   4 │ Waimairi Beach                         1             1
                                                              53 columns omitted

Check the final dataset to see if the merge is successful:

In [25]:
merged_suburbs

4×56 DataFrame
 Row │ suburb                cnt_total_business  cnt_takeaway  cnt_eat_in_prem ⋯
     │ Any                   Int64               Int64         Int64           ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Merivale                              31             7                  ⋯
   2 │ Heathcote                              8             2
   3 │ Christchurch Central                 388           212
   4 │ Waimairi Beach                         1             1
                                                              53 columns omitted

Next subsetting the rest of the dataset out from the previous final dataset to prepare for combining.

In [26]:
final_dataset_subset = combined_dataset |> 
                            @filter(_.suburb ∉ ["Merivale","Christchurch Central","Heathcote","Waimairi Beach"]) |> 
                            DataFrame

88×56 DataFrame
 Row │ suburb           cnt_total_business  cnt_takeaway  cnt_eat_in_premises  ⋯
     │ String           Int64?              Int64?        Int64?               ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                          123            57                   48  ⋯
   2 │ Riccarton                       117            68                   79
   3 │ Papanui                          88            49                   48
   4 │ Upper Riccarton                  87            50                   45
   5 │ St Albans                        84            34                   32  ⋯
   6 │ Addington                        76            27                   42
   7 │ Harewood                         66            25                   42
   8 │ Linwood                          64            25                   16
   9 │ Sockburn                         64            19                   10  ⋯
  10 │ Woolston                         52            27                   17
  11 │ New Brighton                     44            22                   17
  ⋮  │        ⋮                 ⋮                ⋮                 ⋮           ⋱
  79 │ Scarborough                 missing       missing              missing
  80 │ Richmond Hill               missing       missing              missing  ⋯
  81 │ Bexley                      missing       missing              missing
  82 │ Kainga                      missing       missing              missing
  83 │ McCormacks Bay                    3             1                    2
  84 │ Bridgend                          2             1                    0  ⋯
  85 │ Cracroft                          1             1                    1
  86 │ Hyde Park                         1             0                    1
  87 │ Masham                            1             0                    0
  88 │ Westlake                          1             0                    0  ⋯
                                                  52 columns and 67 rows omitted

Next, I will need to append these two dataset merged_suburbs and final_dataset_subset together, I need to use a function called vcat to concatenate two dataframes.

In [27]:
final_combined_pre = vcat(final_dataset_subset, merged_suburbs)

92×56 DataFrame
 Row │ suburb                cnt_total_business  cnt_takeaway  cnt_eat_in_prem ⋯
     │ Any                   Int64?              Int64?        Int64?          ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                               123            57                  ⋯
   2 │ Riccarton                            117            68
   3 │ Papanui                               88            49
   4 │ Upper Riccarton                       87            50
   5 │ St Albans                             84            34                  ⋯
   6 │ Addington                             76            27
   7 │ Harewood                              66            25
   8 │ Linwood                               64            25
   9 │ Sockburn                              64            19                  ⋯
  10 │ Woolston                              52            27
  11 │ New Brighton                          44            22
  ⋮  │          ⋮                    ⋮                ⋮                 ⋮      ⋱
  83 │ McCormacks Bay                         3             1
  84 │ Bridgend                               2             1                  ⋯
  85 │ Cracroft                               1             1
  86 │ Hyde Park                              1             0
  87 │ Masham                                 1             0
  88 │ Westlake                               1             0                  ⋯
  89 │ Merivale                              31             7
  90 │ Heathcote                              8             2
  91 │ Christchurch Central                 388           212
  92 │ Waimairi Beach                         1             1                  ⋯
                                                  53 columns and 71 rows omitted

Add the Geo code:

In [28]:
geo_code = CSV.read("suburbs_google_geocode2.csv", DataFrame)

110×4 DataFrame
 Row │ suburb                Address                            latitude     l ⋯
     │ String                String                             String       S ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                Hornby, Christchurch, New Zealand  -43.5433755  1 ⋯
   2 │ Riccarton             Riccarton, Christchurch, New Zea…  -43.5295443  1
   3 │ Papanui               Papanui, Christchurch, New Zeala…  -43.4969874  1
   4 │ Upper Riccarton       Upper Riccarton, Christchurch, N…  -43.5313665  1
   5 │ St Albans             St Albans, Christchurch, New Zea…  -43.5026053  1 ⋯
   6 │ Addington             Addington, Christchurch, New Zea…  -43.5453472  1
   7 │ Harewood              Harewood, Christchurch, New Zeal…  -43.471698   1
   8 │ Sockburn              Sockburn, Christchurch, New Zeal…  -43.539318   1
   9 │ Woolston              Woolston, Christchurch, New Zeal…  -43.5472739  1 ⋯
  10 │ Linwood               Linwood, Christchurch, New Zeala…  -43.5308482  1
  11 │ New Brighton          New Brighton, Christchurch, New …  -43.5079076  1
  ⋮  │          ⋮                            ⋮                       ⋮         ⋱
 101 │ Hyde Park             Hyde Park, Christchurch, New Zea…  -43.511849   1
 102 │ Masham                Masham, Christchurch, New Zealand  -43.5233745  1 ⋯
 103 │ Motukarara            Motukarara, Christchurch, New Ze…  -43.7254323  1
 104 │ Okains Bay            Okains Bay, Christchurch, New Ze…  -43.7105911  1
 105 │ Redwood Park          Redwood Park, Christchurch, New …  -43.4767112  1
 106 │ Westlake              Westlake, Christchurch, New Zeal…  -43.5679273  1 ⋯
 107 │ Merivale              Merivale, Christchurch, New Zeal…  -43.5195947  1
 108 │ Heathcote             Heathcote, Christchurch, New Zea…  -43.577533   1
 109 │ Christchurch Central  Christchurch Central, Christchur…  -43.5298519  1
 110 │ Waimairi Beach        Waimairi Beach, Christchurch, Ne…  -43.4804203  1 ⋯
                                                    1 column and 89 rows omitted

Joint the geo codes to the final combined dataset:

In [29]:
final_combined = leftjoin(final_combined_pre, geo_code, on =:suburb => :suburb, makeunique=true)

92×59 DataFrame
 Row │ suburb                cnt_total_business  cnt_takeaway  cnt_eat_in_prem ⋯
     │ Any                   Int64?              Int64?        Int64?          ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Hornby                               123            57                  ⋯
   2 │ Riccarton                            117            68
   3 │ Papanui                               88            49
   4 │ Upper Riccarton                       87            50
   5 │ St Albans                             84            34                  ⋯
   6 │ Addington                             76            27
   7 │ Harewood                              66            25
   8 │ Sockburn                              64            19
   9 │ Woolston                              52            27                  ⋯
  10 │ Linwood                               64            25
  11 │ New Brighton                          44            22
  ⋮  │          ⋮                    ⋮                ⋮                 ⋮      ⋱
  83 │ McCormacks Bay                         3             1
  84 │ Bridgend                               2             1                  ⋯
  85 │ Cracroft                               1             1
  86 │ Hyde Park                              1             0
  87 │ Masham                                 1             0
  88 │ Westlake                               1             0                  ⋯
  89 │ Merivale                              31             7
  90 │ Heathcote                              8             2
  91 │ Christchurch Central                 388           212
  92 │ Waimairi Beach                         1             1                  ⋯
                                                  56 columns and 71 rows omitted

Export the final combined dataset to csv:

In [30]:
final_combined |>
    save("final_combined.csv")

Get the final suburb list and export the final suburb list to csv:

In [31]:
final_combined_suburb_list = DataFrame(suburb = final_combined[:, :suburb])

92×1 DataFrame
 Row │ suburb
     │ Any
─────┼──────────────────────
   1 │ Hornby
   2 │ Riccarton
   3 │ Papanui
   4 │ Upper Riccarton
   5 │ St Albans
   6 │ Addington
   7 │ Harewood
   8 │ Sockburn
   9 │ Woolston
  10 │ Linwood
  11 │ New Brighton
  ⋮  │          ⋮
  83 │ McCormacks Bay
  84 │ Bridgend
  85 │ Cracroft
  86 │ Hyde Park
  87 │ Masham
  88 │ Westlake
  89 │ Merivale
  90 │ Heathcote
  91 │ Christchurch Central
  92 │ Waimairi Beach
             71 rows omitted

In [32]:
final_combined_suburb_list |>
    save("final_combined_suburb_list.csv")

Lastly, we will visualise the summarised data using Voyager package:

In [33]:
using VegaDatasets

In [34]:
final_combined |> Voyager()

Voyager(Electron.Window(Application(Base.PipeEndpoint(Base.Libc.WindowsRawSocket(0x000000000000049c) open, 0 bytes waiting), Process(`'C:\Users\GGPC\.julia\artifacts\ca0342e0bab6657b29b8c9153ccf8b6983ee0670\electron.exe' 'C:\Users\GGPC\.julia\packages\Electron\ILvWR\src\main.js' '\\.\pipe\jlel-38c65280350611ec150f2bb104c50536' '\\.\pipe\jlel-sn-38c65280350611ec10d6236630e8dc4d' 6QO0vmJQrnVvV7vWz6lvBW78J7JF/M8Wb69DbMo9rQ2Blosk59W3ZpOjEi4/iXQrVCNHspTMJ7g6dnXtVCAlkEDB06RT1QgDtDGqhrsfmq7sMekbB9Z7HfeGhis/hMDdiPrSexxuvVY8MFg1Sa8UI3KTQEI6CAlY2G1x994Wkz4=`, ProcessRunning), [1 window]), 1, true, Channel{Any}(128)))